.contentC {
  max-height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
  .title {
    font-weight: bold;
  }
  .friendC {
    margin: 1rem 0;
    > a {
      > div:hover {
        text-decoration: underline;
      }
    }
  }
}
